body {
    /* definindo tamanho */
    height: 100vh;
    /* tirando as margens */
    margin: 0;
    /* escolha da fonte */
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    /* adicionando cor de fundo */
    background-color: rgb(156, 233, 156);
}

/* div em que o site está envolvido */
#jogo-forca {
    /* deixando div flexiva */
    display: flex;
    /* deixando as 3 estruturas: header, main e footer ocupando a página toda */
    /* deixando tudo que está nesta div em coluna */
    flex-flow: column;
    /* definindo tamanho */
    height: 100vh;
}

/* div do título */
#jogo-forca #titulo {
    /* deixando as 3 estruturas: header, main e footer ocupando a página toda */
    flex-grow: 0;
    flex-basis: auto;
    /* definindo tamanho */
    height: 100px;

    /* deixando div flexível */
    display: flex;
    /* alinhando título */
    justify-content: center;
    align-items: center;

    /* colocando um margem para separa o título da main */
    margin-bottom: 20px;
}

/* título está em h1 */
#jogo-forca #titulo h1 {
    /* definindo tamanho da fonte do título */
    font-size: 48px;
    /* definindo cor da fonte */
    color: #0b4619;
    /* deixando todo texto em maiúsculo */
    text-transform: uppercase;
}

/* onde o jogo está */
#jogo-forca #corpo {
    /* deixando as 3 estruturas: header, main e footer ocupando a página toda */
    flex-grow: 1;
    flex-basis: auto;
}

/* espaço onde está a forca, a palavra e a opção de novo jogo */
#jogo-forca #corpo #jogo {
    /* deixando div flexível */
    display: flex;
    /* definindo espaço da forca, da palava sorteada e do novo jogo */
    justify-content: space-between;
}

/* onde a forca está */
#jogo-forca #corpo #jogo #forca{
    /* colocando padding */
    padding-left: 40px;
    /* colocando borda */
    border: solid #0b4619 7px;
    /* deixando o fundo branco */
    background-color: white;
}

/* palavra sorteada */
#jogo-forca #corpo #jogo #palavra {
    /* deixando div flexível */
    display: flex;
    /* centralizando palavra */
    justify-content: center;
    /* colocando palavra na parte de baixo */
    align-items: flex-end;

    /* deixando letra uma ao lado da outra */
    flex-direction: row;
    flex-wrap: wrap;

    padding-right: 70px;
}

/* opção de novo jogo */
#jogo-forca #corpo #jogo #novo {
    /* deixando div flexível */
    display: flex;
    /* centralizando o a opção de novo jogo */
    justify-content: center;
    align-items: flex-end;

    padding-right: 60px;
}

/* espaço a letras estarão para serem selecionadas */
#jogo-forca #corpo #letras {
    /* deixando div flexiva */
    display: flex;
    /* alinhando */
    justify-content: center;
    /* deixando letra ao lado da outra */
    flex-direction: row;
    flex-wrap: wrap;
    /* definindo espaço entre a primeira parte do jogo */
    padding-top: 110px;
}

span {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #DC1F27;
    width: 40px;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* botões das letras */
button {
    /* deixando flexivo */
    display: flex;
    /* centralizando-os */
    justify-content: center;
    /* definindo margem, largura e padding */
    margin: 5px;
    width: 35px;
    padding: 10px 0;

    /* definindo cor dos botões e das fontes das letras dos botões */
    background-color: #0b4619;
    color: #FFFFFF;

    /* definindo questões de borda */
    border: 1px solid #0b4619;
    border-radius: 5px;

    /* definindo questões de fontes */
    font-weight: bold;
    font-size: 18px;

    /* deixando cursor como pointer e texto em maiúsculo */
    cursor: pointer;
    text-transform: uppercase;
}

/* quando o ponteiro estiver sobre o botão e cor passará ser a determinada abaixo */
button:hover {
    background-color: #0f6623;
}

button.novo-bt {
    width: auto;
    padding: 10px;
}

/* se a palavra tiver a letra escolhida o botão fica com a cor determinada abaixo */
.certa,
.certa:hover {
    background: #0f6623;
    border: 1px solid #0f6623;
    /* e o cursor muda */
    cursor: inherit;
}

/* se a palavra não tiver a letra escolhida o botão fica com a cor determinada abaixo */
.errada,
.errada:hover {
    background: #6a0180;
    border: 1px solid #6a0180;
    /* e o cursor muda */
    cursor: inherit;
}

/* rodapé do jogo */
#jogo-forca #rodape {
    /* deixando as 3 estruturas: header, main e footer ocupando a página toda */
    flex-grow: 0;
    flex-basis: 100px;

    /* deixando flexivo */
    display: flex;
    /* alinhando */
    justify-content: center;
    align-items: flex-end;

    /* questões de fonte */
    font-size: 20px;
    color: #0b4619;
    text-transform: uppercase;
}